bin/
obj/
artifacts/
*.user
*.userosscache
*.sln.docstates
*.suo
*.sln
*.vs/
*.env

*.nupkg
*.snupkg

**/packages/*
!**/packages/build/

[Dd]ebug/
[Rr]elease/
[Aa]rm64/
[Aa]rm/
[Xx]64/
[Xx]86/
bin/
obj/

*.o
*.exe

*.log
*.pfx
*.cer
*.pub

.idea/

appsettings.json
appsettings.Development.json

.DS_Store
Thumbs.db